/Actividad4/Actividad4_calculadora/nbproject/private/
/Actividad4/Actividad4_calculadora/build/
/Actividad4/Actividad4_calculadora/dist/
/ActividadRecursividad/Problema1_FACTOrial/nbproject/private/
/ActividadRecursividad/Problema2_fibonacci/nbproject/private/
/ActividadRecursividad/Problema1_FACTOrial/build/
/ActividadRecursividad/Problema1_FACTOrial/dist/
/ActividadRecursividad/Problema2_fibonacci/build/
/ActividadRecursividad/Problema2_fibonacci/dist/
/ActividadRecursividad/Problema3_SumaDigitos/nbproject/private/
/ActividadRecursividad/Problema3_SumaDigitos/build/
/ActividadRecursividad/Problema3_SumaDigitos/dist/
/ActividadRecursividad/Problema4_ConteoDigitos/nbproject/private/
/ActividadRecursividad/Problema4_ConteoDigitos/build/
/ActividadRecursividad/Problema4_ConteoDigitos/dist/
/Actividad6/Actividad6/nbproject/private/
/Actividad6/Actividad6/build/
/Actividad6/Actividad6/dist/
/Actividad7/nbproject/private/
/Actividad7/build/
/Actividad7/dist/
/Examen3_Serie2/nbproject/private/
/Examen3_Serie2/build/
/Examen3_Serie2/dist/
